@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --logo-color: #ffc107;
  font-family: "Red Rose", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo-color: var(--logo-color);
  --font-sans: "Red Rose", serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Red Rose", serif;
}
